<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupStaticAttributes="false"

        cacheTokens="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        mapTestClassNameToCoveredClassName="false"
        printerClass="PHPUnit_TextUI_ResultPrinter"

        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"

        strict="false"
        verbose="false"
>

    <testsuites>
        <testsuite name="AllTests">
            <directory>.</directory>
        </testsuite>
    </testsuites>

    <filter>


        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>../Tests</directory>
            <directory>../BLL</directory>
            <directory>../Model</directory>
            <file>../DAL/bankDatabaseStub.php</file>
            <file>../DAL/bankDatabaseStubSqlite.php</file>
            <file>../DAL/adminDatabaseStub.php</file>
            <file>../DAL/adminDatabaseStubSqlite.php</file>
        </whitelist>

    </filter>
    <logging>
        <log type="coverage-html" target="/var/www/public/test-report" lowUpperBound="35"
             highLowerBound="70"/>
    </logging>
</phpunit>